{% extends 'base.html.twig' %}

{% block body %}

    <h1>My Preferred Shops</h1>
    <div class="row flex">
        {{ include( 'pages/shop/_view_preferred.html.twig',{shops:shops}) }}
    </div>

    <div class="pagination">
        {{ knp_pagination_render(shops) }}
    </div>
{% endblock %}